# If elif and else
- if statements allow you to execute code if a given condition is True.
- if statements are booleans. They are always true or false
- if the condition is true, the indented code will execute. If it is false, the indented code will be skipped

In [2]:
student_grade=80

if student_grade<50:
    print("Stuent has failed the task")

- elif statements allow you to test for multiple conditions.
- else statements allow you to execute code when none of your conditions are satifised.
- else can be used with both if and elif conditions.

In [5]:
if student_grade<50:
    print("Student has failed the task")
else:
    print("Student has achieved a grade of Pass or higher")

Student has achieved a grade of Pass or higher

In [7]:
plagiarism = True

if student_grade<50 or plagiarism == True:
    print("Student has failed the task")
else:
    print("Student has achieved a grade of Pass or higher")

Student has failed the task

In [9]:
# Varible scope, if peformance_band is declared inside the if statements this veriable scope eists only within that block of code.
performance_band = ""

if student_grade<50 or plagiarism==True:
    performance_band = "Fail"
elif student_grade<65 and student_grade>=50:
    performance_band = "Pass"
elif student_grade<75 and student_grade>=65:
    performance_band = "Credit"
elif student_grade<85 and student_grade>=75:
    performance_band = "Distinction"
else:
    performance_band = "High Distinction"
print("Bob achieved a", performance_band)

Bob achieved a Fail

# Repetition
<hr>
This section well cover for loops and while loops

## for loops
- for loops iterate over each element in a collection
- for loops allow you to perform opterations on eah element in a colletion

In [20]:
# Students_names_grades is a dictionary.
# Students name is the key, student score is the vale

student_names_grades = {"Asif,Azam": 34, "Sara,Bently": 90.3, "James,King":53.5, "Li,FiFi": 77.9}

for each_student in student_names_grades:
    print(each_student)

Asif,Azam
Sara,Bently
James,King
Li,FiFi

In [18]:
# show key and value
for each_student in student_names_grades:
    grade = student_names_grades.get(each_student)
    print(each_student, grade)

Asif Azam 34
Sara Bently 90.3
James King 53.5
Li Fi Fi 77.9

In [21]:
# split on "," and grab firstname and surname
for each_student in student_names_grades:
    student_surname = each_student.split(",")[0]
    student_first_name = each_student.split(",")[1]
    grade = student_names_grades.get(each_student)
    rounded_grade = round(grade)
    print(student_first_name, student_surname, rounded_grade)

Azam Asif 34
Bently Sara 90
King James 54
FiFi Li 78

## for loops with if statements

In [22]:
for each_student in student_names_grades:
    student_surname = each_student.split(",")[0]
    student_first_name = each_student.split(",")[1]
    grade = student_names_grades.get(each_student)
    rounded_grade = round(grade)
    performance_band = ""
    if student_grade<50:
        performance_band = "Fail"
    elif student_grade<65 and student_grade>=50:
        performance_band = "Pass"
    elif student_grade<75 and student_grade>=65:
        performance_band = "Credit"
    elif student_grade<85 and student_grade>=75:
        performance_band = "Distinction"
    else:
        performance_band = "High Distinction"
    print(student_first_name,student_surname,performance_band, rounded_grade)

Azam Asif Distinction 34
Bently Sara Distinction 90
King James Distinction 54
FiFi Li Distinction 78

In [23]:
# add items from a dictionary to a list
# purpose is to add high achieves to a list.
high_achievers = []
student_names_grades = {"Asif,Azam": 34, "Sara,Bently": 90.3, "James,King":53.5, "Li,FiFi": 77.9}
for each_student in student_names_grades:
    if student_names_grades.get(each_student)>85:
        high_achievers.append(each_student)
high_achievers

['Sara,Bently']

# len(collection) - a very useful function!

In [28]:
students_who_plagarised = ["Wiley,Veronica", "Milton,Tahj", "Peng,Xi","Gates,Steve","Jobs,Bill"]

In [29]:
print("Number of students who plagiarised: ", len(students_who_plagarised))

Number of students who plagiarised:  5

# While loops (and random number generator)
- while loops allow you to perform one or operations for as ling as a xondirion is True

In [32]:
# Randomly select 3 students from list called students
import random

students = ["Bob", "Jane", "Ahmed", "Felcicity", "Adiriam", "Xi", "Melanine", "Juan"]

student_group = []

while len(student_group)<3:
    student = random.randint(0, len(students)-1)
    student_group.append(students[student])

student_group

['Melanine', 'Melanine', 'Juan']

In [34]:
# show no repeats, select 3 random students from the students list.
import random

students = ["Bob", "Jane", "Ahmed", "Felcicity", "Adiriam", "Xi", "Melanine", "Juan"]

student_group_1 = set()

while len(student_group_1)<3:
    student = random.randint(0, len(students)-1)
    student_group_1.add(students[student])

student_group_1

{'Adiriam', 'Melanine', 'Xi'}

# continue
- The continue keyord allows you to skip performing operations on a specific elemtn in a collection
- write a program to allocate all students from the students lit to 3 groups without duplicates

In [37]:
student_group_2 = set()

students = ["Bob", "Jane", "Ahmed", "Felcicity", "Adiriam", "Xi", "Melanine", "Juan"]
while len(student_group_2)<3:
    student = random.randint(0, len(students)-1)
    if students[student] in student_group_1: # student already exists.
        continue
    student_group_2.add(students[student])
student_group_2

{'Felcicity', 'Jane', 'Juan'}

# break
- break statements allow you to exit a for or while loop permaturely
- break statements are useful in preventing endless loops

In [40]:
# add 3 students to gorup 3
student_group_3 = set()
students = ["Bob", "Jane", "Ahmed", "Felcicity", "Adiriam", "Xi", "Melanine", "Juan"]

while len(student_group_3)<3:
    if len(student_group_1)+len(student_group_2)+len(student_group_3)==len(students):
        break
    student = random.randint(0, len(students)-1)
    if students[student] in student_group_1 or students[student] in student_group_2:
        continue
    student_group_3.add(students[student])
student_group_3

{'Ahmed', 'Bob'}