# Python Slicing: Strings and Lists

In [1]:
student_name = "Jobs,Bill"

In [2]:
students=["Wiley,Veronica", "Milton,Tahj", "Peng,Xi","Gates,Steve","Jobs,Bill"]

In [3]:
students[0]

'Wiley,Veronica'

In [4]:
students[-1]

'Jobs,Bill'

In [7]:
students[-1]="Jobs,Bob"

In [8]:
students

['Wiley,Veronica', 'Milton,Tahj', 'Peng,Xi', 'Gates,Steve', 'Jobs,Bob']

In [9]:
del students[1]

In [10]:
students

['Wiley,Veronica', 'Peng,Xi', 'Gates,Steve', 'Jobs,Bob']

In [11]:
student_marks = [56,78,90,34,23,56,67,89]

In [12]:
sorted_marks=sorted(student_marks)

In [13]:
sorted_marks

[23, 34, 56, 56, 67, 78, 89, 90]

first n elements

In [17]:
sorted_marks[:3] # bottom 3 students

[23, 34, 56]

last n elements

In [16]:
sorted_marks[-3:] # top 3 students

[78, 89, 90]

all but the last n elements

In [19]:
sorted_marks[:-3] # excluding the top 3 students

[23, 34, 56, 56, 67]

All but the first n elements

In [18]:
sorted_marks[3:] # excluding first 3 marks

[56, 67, 78, 89, 90]

Every nth Element

In [20]:
sorted_marks[::2] # get every second mark, even

[23, 56, 67, 89]

In [21]:
sorted_marks[1::2] # get every second mark, odd

[34, 56, 78, 90]

Reversing a list

In [24]:
sorted_marks[::-1] # reversing a list

[90, 89, 78, 67, 56, 56, 34, 23]

In [25]:
fruit = "bananana"

In [26]:
fruit[::-1]

'anananab'

Making a copy of a list using slicing

In [27]:
copy_marks=sorted_marks[:] #duplicate the list
copy_marks

[23, 34, 56, 56, 67, 78, 89, 90]

In [30]:
students1=["Peng,Xi","Gates,Steve","Jobs,Bill"]
students2=["Wiley,Veronica", "Milton,Tahj", ]

In [32]:
# Pretend there is an invisible index position just after 0, and put the second list in that position
students1[0:0]=students2
students1

['Wiley,Veronica',
 'Milton,Tahj',
 'Wiley,Veronica',
 'Milton,Tahj',
 'Peng,Xi',
 'Gates,Steve',
 'Jobs,Bill']

write a program to generate student usernames

In [33]:
student_names_DOB = {"Peng,Xi":1997, "Gates,Steve":1986, "Jobs,Bill":1988, "Wiley,Veronica":2001, "Milton,Tahj":1999}

In [38]:
for each_student in student_names_DOB:
    letters = each_student[:3]
    year = student_names_DOB[each_student]
    numbers = str(year)[-2:]
    username = letters+numbers
    print(username)

Pen97
Gat86
Job88
Wil01
Mil99

In [41]:
generate_names = [each_student[:3]+str(student_names_DOB[each_student])[-2:] for each_student in student_names_DOB]
generate_names # Do it in a single line

['Pen97', 'Gat86', 'Job88', 'Wil01', 'Mil99']

In [42]:
list_of_grade_types = ["Fail", "Pass", "Credit", "Distinction", "High Distinction"]

Write a program to geerate acronyms for each of the above grade descriptions

In [43]:
acronyms = []

for grade in list_of_grade_types:
    split_word=grade.split(" ")
    acronym=""
    for each_word in split_word:
        acronym+=each_word[:1]
    acronyms.append(acronym)
acronyms

['F', 'P', 'C', 'D', 'HD']

In [49]:
# Palindrome checker
words = ["bob", "Millie", "madam", "mum", "poop"]

for each_word in words:
    if each_word[::1]==each_word[::-1]:
        print("{} is a palindrome!".format(each_word))

bob is a palindrome!
madam is a palindrome!
mum is a palindrome!
poop is a palindrome!

# Zip

In [53]:
students = ["Bob jones", "Jane Smith", "Lil Dwanye", "Ahmed Karim"]
grades = [56,87,99,5]

for student, grade in zip(students, grades):
    print(f"Student: {student} | Grade: {grade}")

Student: Bob jones | Grade: 56
Student: Jane Smith | Grade: 87
Student: Lil Dwanye | Grade: 99
Student: Ahmed Karim | Grade: 5

# enumerate

In [56]:
students_names_only = ["Bob jones", "Jane Smith", "Lil Dwanye", "Ahmed Karim"]
grades = [56,87,99,5]
students_to_grades = dict()

# Later we'll write a function def ge_student_ranking()
while len(grades)>0:
    for i, grade in enumerate(grades):
        if grade is max(grades):
            student_name = students_names_only[i]
            student_dict = {student_name: grade}
            students_to_grades.update(student_dict)
            del students_names_only[i]
            del grades[i]
students_to_grades

{'Lil Dwanye': 99, 'Jane Smith': 87, 'Bob jones': 56, 'Ahmed Karim': 5}

In [57]:
list_values = [1,2,3,4,5,6,7,8,9,10]
double_values = [2*a for a in list_values]
double_values

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [60]:
students_names_only = ["Bob jones", "Jane Smith", "Lil Dwanye", "Ahmed Karim"]
grades = [56, 87, 99, 5]

new_grades = [grade+5 if grade<95 else grade for grade in grades]
new_grades

[61, 92, 99, 10]